<li>
	{{name}}

	<button class="change-ready" data-id="{{id}}" data-newready="{{ready}}">
		{{#if ready}}ready!{{else}}DEVOURED!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>